@model ElDiary.ViewModels.AddContactViewModel

<div class="modal fade" id="AddContactWindow" role="dialog">
    <div class="modal-dialog" style="width: 400px;">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Добавление контакта</h4>
            </div>
            <div class="modal-body">
                <div>
                    @using (Ajax.BeginForm("AddContact", "Contacts", new AjaxOptions
                    {
                        UpdateTargetId = "contacts",
                        OnSuccess = "HideAddContactWindow"
                    }))
                    {
                        <div style="padding-bottom: 5px;">
                            @Html.TextBoxFor(x => x.SecondName, new Dictionary<string, object>
                            {
                                {"placeholder", "Фамилия"},
                                {"style", "min-width: 100%;"},
                            })
                            @Html.ValidationMessageFor(x => x.SecondName)<br />
                        </div>
                        <div style="padding-bottom: 5px;">
                            @Html.TextBoxFor(x => x.FirstName, new Dictionary<string, object>
                            {
                                {"placeholder", "Имя"},
                                {"style", "min-width: 100%;"},
                            })
                            @Html.ValidationMessageFor(x => x.FirstName)<br />
                        </div>
                        <div style="padding-bottom: 5px;">
                            @Html.TextBoxFor(x => x.ThirdName, new Dictionary<string, object>
                            {
                                {"placeholder", "Отчество"},
                                {"style", "min-width: 100%;"},
                            })
                            @Html.ValidationMessageFor(x => x.ThirdName)<br />
                        </div>
                        <div style="padding-bottom: 5px;">
                            @Html.TextBoxFor(x => x.BirthDate, new Dictionary<string, object>
                            {
                                {"placeholder", "Дата рождения"},
                                {"style", "min-width: 100%;"},
                            })
                            @Html.ValidationMessageFor(x => x.BirthDate)<br />
                        </div>
                        <div style="padding-bottom: 5px;">
                            @Html.TextBoxFor(x => x.Company, new Dictionary<string, object>
                            {
                                {"placeholder", "Организация"},
                                {"style", "min-width: 100%;"},
                            })
                            @Html.ValidationMessageFor(x => x.Company)<br />
                        </div>
                        <div style="padding-bottom: 5px;">
                            @Html.TextBoxFor(x => x.Position, new Dictionary<string, object>
                            {
                                {"placeholder", "Должность"},
                                {"style", "min-width: 100%;"},
                            })
                            @Html.ValidationMessageFor(x => x.Position)<br />
                        </div>
                        <div style="padding-bottom: 5px;">
                            @Html.TextBoxFor(x => x.Phone, new Dictionary<string, object>
                            {
                                {"placeholder", "Телефон"},
                                {"style", "min-width: 100%;"},
                            })
                            @Html.ValidationMessageFor(x => x.Phone)<br />
                        </div>
                        <div style="padding-bottom: 5px;">
                            @Html.TextBoxFor(x => x.Email, new Dictionary<string, object>
                            {
                                {"placeholder", "Электропочта"},
                                {"style", "min-width: 100%;"},
                            })
                            @Html.ValidationMessageFor(x => x.Email)<br />
                        </div>
                        <div style="padding-bottom: 5px;">
                            @Html.TextBoxFor(x => x.Skype, new Dictionary<string, object>
                            {
                                {"placeholder", "Skype"},
                                {"style", "min-width: 100%;"},
                            })
                            @Html.ValidationMessageFor(x => x.Skype)<br />
                        </div>
                        <div style="padding-bottom: 5px;">
                            @Html.TextBoxFor(x => x.Other, new Dictionary<string, object>
                            {
                                {"placeholder", "Другое"},
                                {"style", "min-width: 100%;"},
                            })
                            @Html.ValidationMessageFor(x => x.Other)<br />
                        </div>

                        <input type="submit" value="Добавить" class="btn btn-default" style="padding-bottom: 5px;">
                    }
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
            </div>
        </div>

    </div>
</div>

<script type="text/javascript">
    function HideAddContactWindow() {
        $('#AddContactWindow').modal('hide');
    }
</script>

